---
const { image, styles } = Astro.props;
---

<div class="flex-none w-96 aspect-video bg-white rounded-lg shadow-lg">
    <img
        src={`https://unltd.directus.app/assets/${image.id.id}`}
        alt="Placeholder Image"
        class="w-full h-full object-cover rounded-lg"
    />
</div>
