---
const { post, styles } = Astro.props;
import slugify from "slugify";
---

<div class="flex-none w-96 aspect-video bg-white rounded-lg shadow-lg">
    <a href={`/blog/${post.id.slug}`} class="block relative w-96 aspect-video">
        <img
            src={post.id.image !== null && post.id.image.id !== null
                ? `https://unltd.directus.app/assets/${post.id.image.id}?width=384&height=216`
                : `/img/blog/${slugify(post.tag, { lower: true, strict: true, locale: "en", trim: true })}.webp`}
            alt="Placeholder Image"
            class="w-full h-full object-cover rounded-lg"
        />
        <div
            class={`absolute bottom-0 left-0 right-0 ${styles.bg} text-white bg-opacity-50 p-4`}
        >
            <p>{post.id.title}</p>
        </div>
    </a>
</div>
