---
const { styles } = Astro.props;
---

<div
    class={`${styles.bg} aspect-video max-w-xs overflow-hidden  rounded-lg shadow-md hover:shadow-xl transition ease-in-out delay-150 hover:-translate-y-2 duration-300`}
>
    <div class="px-4 py-5">
        <p>
            Get access to a Support Manager, pro-bono consultancy, workshops to
            upskill with your peers, and expert advice and guidance.
        </p>
    </div>
</div>
