---
const { name, description, slug, required } = Astro.props;
---

<div>
  <div class="flex justify-between">
    <label for={slug} class="block text-sm font-medium text-gray-700"
      >{name}</label
    >
    <span class="text-sm text-gray-500" id="email-required"
      >{required === "true" && `Required`}</span
    >
  </div>
  <div class="mt-1 sm:col-span-2 sm:mt-0">
    <p
      class="mt-2 text-sm text-gray-500 leading-relaxed"
      id={`${slug}-description}`}
    >
      {description}
    </p>
    <textarea
      id="about"
      name="about"
      rows="3"
      class="block w-full max-w-lg rounded-md text-black border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 sm:text-sm"
    ></textarea>
  </div>
</div>
