---
import Blank from "../../../layouts/Blank.astro";
import Container from "../../../layouts/Container.astro";

const name = "Investments";
const description = "For Social Ventures";
---

<p>{name}</p>
<p>{description}</p>
