---
export function getStaticPaths() {
  return [
    // Generates: /dogs/clifford
    {params: {dog: 'clifford'}},
    // Generates: /dogs/rover
    {params: {dog: 'rover'}},
    // Generates: /dogs/spot
    {params: {dog: 'spot'}},
  ];
}

import Template from '../../../layouts/Layout.astro'

import campaigns from '../../../database/campaigns.js';

console.log(campaigns);

const name = "Campaigns";
const description =
  "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia dolores corrupti labore tempora, rem quidem maximead asperiores eveniet maiores nobis assumenda facilis quisquam fugiat accusamus nulla similique tenetur hic?";

---
<Template>
<!-- 
    {
        campaigns.campaigns.map((campaign) => (
            <p>{campaign.title}</p>
        ))
    } -->

    <p>Hello World</p>
</Template>