# build output
dist/

# generated types
.astro/

# wrangler temporary files
.wrangler/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.production
.dev.vars

# generated npmrc (contains secret)
.npmrc

# macOS-specific files
.DS_Store

# local Directus data cache
src/data/cache/