---
const { name, slug, status } = Astro.props;
---

<a
  href={`#${slug}`}
  class={status === "true"
    ? `bg-white text-indigo-700 hover:text-violet-900 hover:bg-violet-100 group rounded-md px-3 py-2 flex items-center text-sm font-medium`
    : `text-gray-700 hover:text-violet-900 hover:bg-violet-200 group rounded-md px-3 py-2 flex items-center text-sm font-medium`}
>
  <span class="truncate">{name}</span>
</a>
