---
const { name, description, slug, index } = Astro.props;
import { marked } from "marked";
let markdown = marked.parse(description);
---

<form
  action="#"
  id={slug}
  method="POST"
  class="shadow-xl sm:overflow-hidden rounded-md flex flex-col gap-10 bg-white"
>
  <div class="bg-gray-100 p-10">
    <div class="flex flex-row gap-3 items-center">
      <span
        class="text-gray-500 border-full h-8 w-8 bg-white flex justify-center items-center rounded-full"
      >
        {index + 1}
      </span>
      <h3 class="text-lg font-medium leading-6 text-gray-900">{name}</h3>
    </div>

    {
      description && (
        <div
          class="mt-2 text-sm text-gray-500 leading-relaxed prose"
          id={`${slug}-description}`}
          set:html={markdown}
        />
      )
    }
  </div>

  <div class="flex flex-col gap-10 pb-10 px-10">
    <slot />
  </div>
</form>
