---
const { name, slug, link } = Astro.props;
---

<a
  href={slug && !link ? `/${slug}` : `${link}`}
  target={!slug && link && "_blank"}
  class="text-base font-medium text-white hover:text-amber-500"
  data-dropdown="dropdownA"
>
  <span data-dropdown="dropdownA">{name}</span>
  <!-- {(!slug && link) &&  <i data-dropdown="dropdownA" class="text-xs fa-solid fa-arrow-trend-up"></i> } -->
</a>
