---
const { slug, name } = Astro.props;
---

<button
  id={`dropdownButton-${slug}`}
  class="text-base font-medium text-white hover:text-amber-500"
  onclick={`desktop("${slug}")`}
  aria-expanded="false"
  data-dropdown="dropdownButton"
>
  <span data-dropdown="dropdownButton">{name}</span> <i data-dropdown="dropdownButton" class="text-xs fa-solid fa-chevron-down"></i>
</button>