---
const { slug, name } = Astro.props;
---

<button
  id={`dropdownButton-${slug}`}
  class="p-3 text-sm font-medium bg-gray-100 hover:bg-gray-300 hover:text-gray-900 focus:font-bold focus:bg-gray-300 focus:text-gray-900"
  onclick={`desktop("${slug}")`}
  aria-expanded="false"
  data-dropdown="dropdownButton"
>
  {name} &#5167;
</button>