---
const { image, styles } = Astro.props;
---

<div class="flex-none aspect-video h-44 lg:h-96 bg-white rounded-lg shadow-lg">
    <img
        src={`https://unltd.directus.app/assets/${image.id.id}?width=384&height=216`}
        alt="Placeholder Image"
        class="w-full h-full object-cover rounded-lg"
    />
</div>
