---
import Tooltip from "./Tooltip.astro";
import Container from "../Container.astro";
---

<Container light="violet-50" dark="violet-950">
  <div class="lg:pt-8 lg:pb-24 flex flex-col gap-4 items-center">
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-1 items-center">
        <p
          class="text-2xl font-semibold leading-7 text-amber-500 dark:text-amber-500"
        >
          For social entrepreneurs
        </p>
        <h1
          class="text-7xl font-bold tracking-tight text-violet-900 dark:text-violet-100 sm:text-9xl"
        >
          Award
        </h1>
      </div>
      <p
        class="text-lg max-w-xl text-center leading-8 text-violet-800 dark:text-violet-200"
      >
        You have an idea or are already making a difference and are looking for
        support to develop your social venture
      </p>
    </div>
    <div class="aspect-video mt-6 w-full h-full">
      <iframe
        src="https://player.vimeo.com/video/548879391?badge=0&autopause=0&player_id=0&app_id=58479"
        allow="autoplay; fullscreen; picture-in-picture"
        title="Introduction to Award"
        class="w-full h-full rounded-xl shadow-xl"
      >
      </iframe>
      <a
        class="text-xs text-violet-950 dark:text-violet-50 font-bold underline underline-offset-4 decoration-amber-500 decoration-1 hover:decoration-2"
        href="https://youtu.be/1TKzE-gArR0?si=AjSaxWg0nuTFElC-"
        >Sign language version available</a
      >
    </div>
    <!-- <div class="flex-1">
          <div class="">
            <dt class="inline font-semibold text-white">
              <svg
                class="absolute left-1 top-1 h-5 w-5 text-indigo-500"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                  clip-rule="evenodd"></path>
              </svg>
              Social entrepreneur
            </dt>
            <dd class="inline">
              is the name we give to people who have started, or looking to
              start, a social venture, someone who is driven by their passion to
              make a difference.
            </dd>
          </div>
          <div class="">
            <dt class="inline font-semibold text-white">
              <svg
                class="absolute left-1 top-1 h-5 w-5 text-indigo-500"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                  clip-rule="evenodd"></path>
              </svg>
              Social venture
            </dt>
            <dd class="inline">
              is an organisation whose purpose is to create impact but has a
              financially sustainable business model to continue to make a
              difference. It sits in between a commercial business and a
              charity, often described as profit for purpose.
            </dd>
          </div>
        </div>
      </div> -->
  </div>
</Container>
<script src="https://player.vimeo.com/api/player.js"></script>
