---
import Tooltip from "./Tooltip.astro";
import Container from "../Container.astro";
---

<Container light="violet-50" dark="violet-950">
  <div class="px-6 py-24 sm:py-32 lg:px-8 flex flex-col gap-3 items-center">
    <div>
      <div class="flex flex-col gap-2 items-center">
        <p class="text-base font-semibold leading-7 text-orange-600">
          For social entrepreneurs
        </p>
        <h1
          class="text-4xl font-bold tracking-tight text-violet-800 dark:text-violet-200 sm:text-6xl"
        >
          Award
        </h1>
      </div>
      <p
        class="text-lg max-w-4xl text-center leading-8 text-violet-600 dark:text-violet-400"
      >
        We offer packages of funding and support to people who have an idea, or
        are the founder of a social venture which is making a positive
        difference in the UK
      </p>
    </div>
    <div class="aspect-video mt-6 w-full h-full">
      <iframe
        src="https://player.vimeo.com/video/548879391?badge=0&autopause=0&player_id=0&app_id=58479"
        allow="autoplay; fullscreen; picture-in-picture"
        title="Introduction to Award"
        class="w-full h-full rounded-xl shadow-xl"
      >
      </iframe>
      <a
        class="text-xs text-violet-950 dark:text-violet-50 font-bold underline underline-offset-4 decoration-orange-500 decoration-1 hover:decoration-2"
        href="https://youtu.be/1TKzE-gArR0?si=AjSaxWg0nuTFElC-"
        >Sign language version available</a
      >
    </div>
  </div>
  <script src="https://player.vimeo.com/api/player.js"></script>
</Container>
