---
import Tooltip from "./Tooltip.astro";
import Container from "../Container.astro";
---

<Container light="violet-50" dark="violet-950">
  <div class="pt-8 pb-20 flex flex-col gap-4 items-center">
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-1 items-center">
        <p
          class="text-2xl font-semibold leading-7 text-amber-500 dark:text-amber-500"
        >
          For social entrepreneurs
        </p>
        <h1
          class="text-7xl font-bold tracking-tight text-violet-900 dark:text-violet-100 sm:text-9xl"
        >
          Awards
        </h1>
      </div>
      <p
        class="text-lg max-w-xl text-center leading-8 text-violet-800 dark:text-violet-200"
      >
        You have an idea or are already making a difference and are looking for
        support to develop your social venture. We combine funding and support
        to help you get started or grow
      </p>
    </div>
    <div class="flex flex-col gap-10 lg:flex-row items-center">
      <div class="aspect-video mt-6 w-full h-full basis-3/4">
        <iframe
          src="https://player.vimeo.com/video/548879391?badge=0&autopause=0&player_id=0&app_id=58479"
          allow="autoplay; fullscreen; picture-in-picture"
          title="Introduction to Award"
          class="w-full h-full rounded-xl shadow-xl mb-3"
        >
        </iframe>
        <a
          class="text-xs text-violet-100 hover:text-violet-50 font-bold underline underline-offset-4 decoration-amber-500 decoration-1 hover:decoration-2"
          href="#">British Sign Language (BSL) version available</a
        >
      </div>
      <div class="flex flex-col gap-4 basis-1/4">
        <h2
          id="definitions"
          class="text-base font-semibold leading-7 text-amber-500 dark:text-amber-500"
        >
          Definitions
        </h2>
        <div class="flex flex-col gap-6">
          <div class="">
            <dt class="inline font-semibold text-violet-200">
              Social entrepreneur
            </dt>
            <dd class="inline text-sm leading-7 text-violet-300">
              is someone who will tackle a social issue within a community. They
              are enthusiatic about creating change in the world and often have
              experiences of the issue they are tying to tackle.
            </dd>
          </div>
          <div class="">
            <dt class="inline font-semibold text-violet-200">Social venture</dt>
            <dd class="inline text-sm leading-7 text-violet-300">
              is a business with a social mission at its heart, often described
              as a profit for purpose business.
            </dd>
          </div>
        </div>
      </div>
    </div>
  </div>
</Container>
