---
import Layout from "../../layouts/Template.astro";
import Container from "../../components/Container.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Faq from "../../components/Faq.astro";
const name = "Grants & Support: Frequently Asked Questions";
const slug = "grants-&-support-frequently-asked-questions";
const description = "Description here";
const breadcrumbs = [
  {
    name: "Grants & Support",
    slug: "/grants-&-support",
  },
  {
    name: name,
    slug: `/grants-&-support/${slug}`,
  },
];
---

<Layout name={name} description={description}>
  <Container>
    <Breadcrumbs breadcrumbs={breadcrumbs} />
    <div class="bg-white">
      <div class="max-w-2xl divide-y divide-slate-900/10">
        <dl class="mt-10 space-y-6 divide-y divide-slate-900/10">
          <Faq
            question="What is UnLtd?"
            answer="UnLtd is the Foundation for Social Entrepreneurs, a UK registered charity set up in 2002. We want a future where enterprising people are transforming our world for good. We call these people social entrepreneurs. We find social entrepreneurs with bold solutions to today’s challenges. Through funding and support, we help them to realise their potential and create lasting change."
          />

          <Faq
            question="What is UnLtd's purpose?"
            answer="A future where enterprising people are transforming our world for good."
          />

          <Faq
            question="Who does UnLtd support?"
            answer="We support enterprising people who are transforming our world for good. We call these people social entrepreneurs and we support them at every stage of their journey. Social entrepreneurs come from all kinds of backgrounds and are seeking to deliver social solutions in many different ways. Whatever their background, one thing unites them, a passion to solve a social problem, and an entrepreneurial flair to make it happen."
          />
        </dl>
      </div>
    </div>
  </Container>
</Layout>
