---
export function getStaticPaths() {
  return [
    {
      params: { campaign: "Secure millions in funding for social businesses" },
    },
  ];
}

const { campaign } = Astro.params;
---

<div>{campaign}!</div>
