<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer
></script>
<div class="sm:col-span-2">
  <div class="flex justify-between text-sm leading-6">
    <label
      for="Cloudflare"
      class="block text-sm font-semibold leading-6 text-violet-900 dark:text-violet-100"
      >Verification</label
    >
  </div>
  <div class="mt-2.5">
    <div class="cf-turnstile" data-sitekey="0x4AAAAAAA7WX5YoqLQOPiIW"></div>
  </div>
</div>
