@import "tailwindcss";
@import "@fortawesome/fontawesome-pro/css/all.css";

@utility prose {
    blockquote {
        /* Disable adding quote marks to block-quotes: https://github.com/tailwindlabs/tailwindcss-typography/issues/66 */
        p {
            &:first-of-type::before,
            &:last-of-type::after {
                content: none;
            }
        }
    }
}

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));