@import "tailwindcss";

@theme {
    --font-sans: "Nunito Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Default icon sizing - icons inherit text size like FontAwesome's default behavior */
svg[role="img"] {
    height: 1em;
    width: 1em;
    vertical-align: -0.125em;
    fill: currentColor;
}

@utility prose {
    blockquote {
        /* Disable adding quote marks to block-quotes: https://github.com/tailwindlabs/tailwindcss-typography/issues/66 */
        p {
            &:first-of-type::before,
            &:last-of-type::after {
                content: none;
            }
        }
    }
}

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));