---
const { name, type, slug, optional = false } = Astro.props;
---

<div>
    <div class="flex justify-between">
      <label for="{ slug }" class="block text-sm font-medium text-gray-700">{ name }</label>
      { optional ? 
        <span class="text-sm text-gray-500" id={ `${slug}-optional` }>Optional</span>
      :
        <span class="text-sm text-gray-500" id="{ slug }">Required</span>
      }
    </div>
    <div class="mt-1">
        { optional ? 
            <input type={ type } name={ slug } id={ slug } class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" aria-describedby={ `${slug}-optional` }>
        :
            <input type={ type } name={ slug } id={ slug } class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" aria-describedby={ slug }>
        }
      </div>
  </div>