---
const { url } = Astro.props;

import Wrapper from "./Wrapper.astro";
---

<Wrapper url={url}>
  <div
    class={`col-span-1 divide-y rounded-3xl bg-violet-200 dark:bg-violet-950 shadow-md ring-1 ring-violet-300 dark:ring-violet-700 ${typeof url === "string" && url.length > 0 && `hover:shadow-xl transition ease-in-out delay-150 hover:-tranviolet-y-1 duration-300`}`}
  >
    <slot />
  </div>
</Wrapper>
