---
const { icon, textColour, bgColour, borderColour } = Astro.props;
---

<div
    class={`flex items-center justify-center h-20 w-20 rounded-xl border shadow-2xl ${bgColour} ${borderColour}`}
>
    <i class={`${icon} text-4xl ${textColour}`}></i>
</div>
