---
const { icon, textColour, bgColour, borderColour } = Astro.props;
---

<div
    class={`flex items-center justify-center h-24 w-24 rounded-md border shadow-2xl ${bgColour} ${borderColour}`}
>
    <i class={`${icon} text-5xl ${textColour}`}></i>
</div>
