---
const { icon, textColour, bgColour, borderColour } = Astro.props;
---

<div
    class={`flex items-center justify-center h-36 w-36 rounded-3xl border shadow-2xl ${bgColour} ${borderColour}`}
>
    <i class={`${icon} text-7xl ${textColour}`}></i>
</div>
