---
import HeaderDesktop from "@components/old-nav/Desktop.astro";
import HeaderMobile from "@components/old-nav/Mobile.astro";
---

<nav class="print:hidden bg-violet-900 dark:bg-violet-950">
  <HeaderDesktop />
  <HeaderMobile />
</nav>
