---
const { styles, quotes, programme } = Astro.props;
import Container from "@components/Container.astro";
---

<Container>
    <div
        class={`mx-auto max-w-7xl my-24 ${programme.videos.length > 0 && "xl:mt-96"}`}
    >
        <div
            class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
            {
                quotes
                    .filter(
                        (quote) =>
                            quote.award_winner.programme.id === programme.id,
                    )
                    .map((quote) => (

                    ))
            }
        </div>
    </div>
</Container>
