<div class="flex flex-col gap-10">
  <div class="flex flex-col gap-3">
    <h3 class="font-bold text-slate-500">Inclusion</h3>
    <div class="flex flex-col gap-3">
      <p class="text-sm text-slate-500 leading-relaxed">
        At least 50% of those supported by Movement for Change will be from
        Black, Asian, marginalised ethnic groups or disabled backgrounds
      </p>
      <p class="text-sm text-slate-500 leading-relaxed">
        Movement for Change is dedicated to pushing inclusion in the wider
        sector and beyond, seeking to address systemic inequalities by
        highlighting the experiences of underrepresented social entrepreneurs
        and sharing our learning in devising solutions
      </p>
      <p class="text-sm text-slate-500 leading-relaxed">
        We want to make it clear that at UnLtd that when we support LGBTQIA+
        social ventures, we welcome and support trans people, non-binary, gender
        diverse, genderqueer and gender questioning people. When we support
        social ventures focusing on women's issues and rights, we include trans
        women. When we support social ventures focusing on men's issues, we
        include trans men. We are committed to using an intersectional lens on
        social issues, and our own learning.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <a
        class="text-xs text-amber-700 hover:underline hover:text-amber-800"
        href="/equity-commitments">Learn more about equity commitments</a
      >
    </div>
  </div>

  <div class="flex flex-col gap-3">
    <h3 class="font-bold text-slate-500">Help</h3>
    <div class="flex flex-col gap-3">
      <p class="text-sm text-slate-500 leading-relaxed">
        For social entrepreneurs with questions about Movement for Change,
        please reach out via our Contact Us page.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <a
        class="text-xs text-amber-700 hover:underline hover:text-amber-800"
        href="/enquiries/award-enquiry">Enquire</a
      >
    </div>
  </div>

  <div class="flex flex-col gap-4 lg:flex">
    <h3 class="font-bold text-slate-500">More programmes</h3>
    <div class="flex flex-col gap-3">
      <a
        href="/award"
        class="border border-slate-100 p-6 rounded-2xl flex flex-col gap-5 hover:border-amber-300 transition"
      >
        <div>
          <h3 class="text-lg font-bold">Award</h3>
          <p class="text-xs leading-relaxed">
            Our core programme available all year round, funding and supporting
            social entrepreneurs across the UK.
          </p>
        </div>

        <div class="flex flex-col gap-2">
          <h4 class="text-sm">Partners and Funders</h4>
          <div class="flex flex-row gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex gap-2 items-center rounded-md">
                <img
                  class="inline-block h-8 w-8 rounded-md"
                  src="/uploads/partner_images/millennium_awards_trust.webp"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </a>
      <a
        href="/healthy-ageing"
        class="border border-slate-100 p-6 rounded-2xl flex flex-col gap-5 hover:border-amber-300 transition"
      >
        <div>
          <h3 class="text-lg font-bold">Healthy Ageing</h3>
          <p class="text-xs leading-relaxed">
            Over the next five years we want to improve the health and wellbeing
            of 135,000 marginalised older adults in the UK, and reduce health
            inequalities.
          </p>
        </div>

        <div class="flex flex-col gap-2">
          <h4 class="text-sm">Partners and Funders</h4>
          <div class="flex flex-row gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex gap-2 items-center rounded-md">
                <img
                  class="inline-block h-8 w-8 rounded-md"
                  src="/uploads/partner_images/millennium_awards_trust.webp"
                  alt=""
                />
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex gap-2 items-center rounded-md">
                <img
                  class="inline-block h-8 w-8 rounded-md"
                  src="/uploads/partner_images/comic_relief.webp"
                  alt=""
                />
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex gap-2 items-center rounded-md">
                <img
                  class="inline-block h-8 w-8 rounded-md"
                  src="/uploads/partner_images/ukri.webp"
                  alt=""
                />
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex gap-2 items-center rounded-md">
                <img
                  class="inline-block h-8 w-8 rounded-md"
                  src="/uploads/partner_images/johnson_and_johnson.webp"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
