---
import TableRecordIcon from "./TableRecordIcon.astro";
import TableRecordText from "./TableRecordText.astro";
import TableRecordDes from "./TableRecordDes.astro";
---

<div class="lg:hidden">
  <section>
    <div class="mb-8">
      <h2 class="text-lg font-medium leading-6 text-gray-900">Starting up</h2>
      <p class="mt-4 flex flex-col">
        <span class="text-base font-medium text-gray-500">Up to</span>
        <span class="text-4xl font-bold tracking-tight text-gray-900"
          >£8,000</span
        >
      </p>
    </div>

    <table class="w-full">
      <tbody class="divide-y divide-gray-200">
        <TableRecordIcon
          question="Can grant be used for social entrepreneur salary?"
          answer="No"
        />

        <TableRecordIcon
          question="Can grant be used for social venture costs?"
          answer="Yes"
        />
      </tbody>
    </table>

    <table class="w-full">
      <caption
        class="border-t border-gray-200 bg-gray-50 py-3 px-6 text-left text-sm font-medium text-gray-900 sm:px-4"
      >
        Support
      </caption>
      <tbody class="divide-y divide-gray-200">
        <TableRecordIcon
          question="Dedictaed support manager"
          description="Someone to coach, mentor and support you to achieve your goals."
          answer="Yes"
        />

        <TableRecordIcon
          question="Expert mentors and pro bono support"
          description="Expert advice and mentoring through our generous community of business professionals, corporate partners and social entrepreneurs who volunteer their skills and expertise."
          answer="Yes"
        />

        <TableRecordIcon
          question="Workshops and learning"
          description="Through our regular workshops and support you will be able to learn about different aspects of running a social venture."
          answer="Yes"
        />
      </tbody>
    </table>

    <table class="w-full">
      <caption
        class="border-t border-gray-200 bg-gray-50 py-3 px-6 text-left text-sm font-medium text-gray-900 sm:px-4"
      >
        Eligibility
      </caption>
      <tbody class="divide-y divide-gray-200">
        <TableRecordDes
          name="Social entrepreneur"
          description="A social entrepreneur is the name we give to people who have started, or looking to start, a social venture, someone who is driven by their passion to make a difference. They are looking to make a sustained and long-term impact and need our funding and support to make it happen."
        />

        <TableRecordText
          question="How old are you?"
          answer="<span>16 years old or older<span>"
        />

        <TableRecordText question="Where are you resided?" answer="England" />

        <TableRecordDes
          name="Social venture"
          description="A social entrepreneur is the name we give to people who have started, or looking to start, a social venture, someone who is driven by their passion to make a difference. They are looking to make a sustained and long-term impact and need our funding and support to make it happen."
          more='<ul class="list-disc text-sm leading-loose font-normal text-gray-500"><li>Must not employ others to undertake most of the work.</li><li>Must not involve political or religious campaigning.</li><li>Must not predominantly focus on raising awareness of social issues.</li></ul>'
        />

        <TableRecordText
          question="How long has your social venture been selling goods and services?"
          answer="Not yet or less than 1 year"
        />

        <TableRecordText
          question="How long has your social venture been incorporated?"
          answer="Not yet or less than 4 years"
        />

        <TableRecordText
          question="Where is your social venture located?"
          answer="England"
        />

        <TableRecordText
          question="Is your social venture already having an impact?"
          answer="Not yet or yes"
        />

        <TableRecordText
          question="What is your social ventures impact areas?"
          answer='<ul class="list-disc">(1 or more)<li>Physical wellbeing</li><li>Mental wellbeing</li><li>Personal development</li><li>Economic development</li><li>Social and community development</li></ul>'
        />

        <TableRecordText
          question="Where is your social venture having the majority of its impact?"
          answer="England"
        />

        <TableRecordText
          question="How much did you earn last financial year?"
          answer="Under £250,000"
        />

        <TableRecordText
          question="Which opportunities is your social venture working withmarginalised people in?"
          answer="Sports/physical activity"
        />
      </tbody>
    </table>
  </section>
</div>
