<div class="lg:basis-1/2 flex flex-col gap-8">
  <div>
    <div>
      <span
        class="inline-flex items-center rounded-md text-sm font-medium text-violet-200"
        >Programme</span
      >
    </div>
    <h1 class="text-5xl font-bold text-violet-200">Movement for Change</h1>
  </div>

  <div class="flex flex-col gap-2">
    <div>
      <span
        class="inline-flex items-center rounded-full bg-green-100 px-3 py-0.5 text-sm font-medium text-green-800"
      >
        <svg
          class="-ml-1 mr-1.5 h-2 w-2 text-green-400"
          fill="currentColor"
          viewBox="0 0 8 8"
        >
          <circle cx="4" cy="4" r="3"></circle>
        </svg>
        Open
      </span>
    </div>

    <p class="text-xs text-violet-300">From 15 February 2023 till mid 2025</p>
  </div>

  <div>
    <p class="text-lg text-violet-200 leading-relaxed">
      The Movement for Change programme will support 120 social entrepreneurs
      over two years to help get people moving as often as possible, while also
      making the sporting social enterprise sector more sustainable. Movement
      for Change offers needs-based support to social entrepreneurs helping
      marginalised communities access the experiences and benefits of sport and
      physical activity, while helping social entrepreneurs reach growth and
      sustainability too. Social entrepreneurs can apply for grants of up to
      £18,000. All grants will be backed up with a year's package of
      non-financial support. This includes help developing key business and
      leadership skills from UnLtd's expert social entrepreneur Support
      Managers, network of business mentors, and Sport England.
    </p>
  </div>

  <div>
    <a
      href="https://unltd.microsoftcrmportals.com/applications"
      target="_blank"
      class="inline-flex items-center rounded-full border border-transparent text-amber-100 bg-amber-600 px-6 py-3 text-base font-medium shadow-sm hover:bg-amber-7 00 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2"
      >Apply now</a
    >
  </div>
</div>
