<div class="col-span-4 flex flex-col gap-10">
  <h4 class="text-5xl font-semibold text-gray-600">Partners and Funders</h4>
  <div class="flex flex-col lg:flex-row">
    <div class="lg:basis-1/2 flex flex-col gap-4 p-10 border-l-2">
      <div class="flex flex-row gap-4 items-center">
        <img
          class="inline-block h-14 w-14 lg:h-20 lg:w-20 rounded-md"
          src="/uploads/partner_images/millennium_awards_trust.webp"
          alt=""
        />
        <p class="text-xl text-gray-600">Millennium Awards Trust</p>
      </div>
      <p class="text-gray-500 leading-relaxed">
        UnLtd oversees a £150m endowment called the Millennium Awards Trust. The
        interest raised from this endowment is used to fund UnLtd's work to help
        social entrepreneurs in the UK.
      </p>
    </div>
    <div class="lg:basis-1/2 flex flex-col gap-4 p-10 border-l-2">
      <div class="flex flex-row gap-4 items-center">
        <img
          class="inline-block h-14 w-14 lg:h-20 lg:w-20 rounded-md"
          src="/uploads/partner_images/sport_england.webp"
          alt=""
        />
        <p class="text-xl text-gray-600">Sport England</p>
      </div>
      <p class="text-gray-500 leading-relaxed">
        Sport England invests in sport and physical activity to make it a normal
        part of life for everyone in England and remove barriers to help tackle
        society's biggest challenges.
      </p>
    </div>
  </div>
</div>
