<div>
  <div class="flow-root">
    <ul role="list" class="-mb-8 mx-20">
      <li>
        <div class="relative pb-8">
          <span
            class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-violet-200"
            aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div>
              <span
                class="h-10 w-10 rounded-full bg-violet-400 flex items-center justify-center ring-8 ring-white"
              >
                <i class="fa-solid fa-file-circle-check text-white"></i>
              </span>
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div>
                <p class="text-sm font-medium text-violet-900">
                  Submit your application
                </p>
                <p class="text-sm text-violet-500">
                  We recommend getting your application in early so that we have
                  time to ensure we have everything we need to assess it.
                </p>
              </div>
              <div class="whitespace-nowrap text-right text-sm text-violet-500">
                <time datetime="2020-09-20">1 Jan - 31 Mar</time>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="relative pb-8">
          <span
            class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-violet-200"
            aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div>
              <span
                class="h-8 w-8 rounded-full bg-amber-500 flex items-center justify-center ring-8 ring-white"
              >
                <i class="fa-solid fa-file-circle-check h-5 w-5"></i>
              </span>
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div>
                <p class="text-sm font-medium text-violet-900">
                  Initial checks
                </p>
                <p class="text-sm text-violet-500">
                  Once received we will check your application meets our
                  eligibility criteria.
                </p>
              </div>
              <div class="whitespace-nowrap text-right text-sm text-violet-500">
                <time datetime="2020-09-22">1 Apr</time>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="relative pb-8">
          <span
            class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-violet-200"
            aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div>
              <span
                class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white"
              >
                <i class="fa-solid fa-file-circle-check h-5 w-5"></i>
              </span>
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div>
                <p class="text-sm font-medium text-violet-900">
                  Support manager assessment
                </p>
                <p class="text-sm text-violet-500">
                  If the application meets our eligibility criteria, our team
                  will then review the application based on impact, inclusion
                  and sustainability.
                </p>
              </div>
              <div class="whitespace-nowrap text-right text-sm text-violet-500">
                <time datetime="2020-09-28">-</time>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="relative pb-8">
          <span
            class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-violet-200"
            aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div>
              <span
                class="h-8 w-8 rounded-full bg-amber-500 flex items-center justify-center ring-8 ring-white"
              >
                <i class="fa-solid fa-file-circle-check h-5 w-5"></i>
              </span>
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div>
                <p class="text-sm font-medium text-violet-900">Peer review</p>
                <p class="text-sm text-violet-500">
                  Applications which show potential will be discussed alongside
                  others at peer review to progress those with the most
                  potential to meet our panel.
                </p>
              </div>
              <div class="whitespace-nowrap text-right text-sm text-violet-500">
                <time datetime="2020-09-30">-</time>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="relative pb-8">
          <div class="relative flex space-x-3">
            <div>
              <span
                class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white"
              >
                <i class="fa-solid fa-file-circle-check h-5 w-5"></i>
              </span>
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div>
                <p class="text-sm font-medium text-violet-900">Panel stage</p>
                <p class="text-sm text-violet-500">
                  Here you will have the opportunity to discuss your application
                  with a panel made up of staff and other social entrepreneurs.
                </p>
              </div>
              <div class="whitespace-nowrap text-right text-sm text-violet-500">
                <time datetime="2020-10-04">25 Jun</time>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="relative pb-8">
          <div class="relative flex space-x-3">
            <div>
              <span
                class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white"
              >
                <i
                  class="fa-solid fa-check h-5 w-5 text-white"
                  aria-hidden="true"></i>
              </span>
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div>
                <p class="text-sm font-medium text-violet-900">Result</p>
                <p class="text-sm text-violet-500">
                  A recommendation is made to our Awards Committee (a group of
                  our trustees which also includes social entrepreneurs) who
                  make the final decision on your application. You will be
                  informed of the outcome of your application.
                </p>
              </div>
              <div class="whitespace-nowrap text-right text-sm text-violet-500">
                <time datetime="2020-10-04">Oct 4</time>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
