---
import Layout from "../layouts/Layout.astro";
import TextInput from '../components/form/inputs/TextInput.astro';
import FormBody from "../components/form/FormBody.astro"

const name = "Application";
const description =
  "We go beyond funding. Explore our support and tailor it to your needs";
---

<Layout name={`${name}`} description={`${description}`}>
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h1 class="text-4xl">Grant application preview</h1>
  </div>
  <br><br>
<FormBody></FormBody>

</Layout>
