---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Container from "@components/Container.astro";
import Template from "@layouts/Template.astro";
const name = "Message Failed to Send";
const description =
    "We are sorry, but there was an error sending your message.";
---

<Template name={name} description={description}>
    <Container>
        <Breadcrumbs
            breadcrumbs={[
                {
                    name: name,
                    path: "/failed",
                },
            ]}
        />
    </Container>
    <div
        class="min-h-full px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8"
    >
        <div class="mx-auto max-w-max">
            <main class="sm:flex">
                <div class="flex flex-col gap-5">
                    <h1
                        class="text-4xl font-bold tracking-tight text-violet-200 sm:text-5xl"
                    >
                        {name}
                    </h1>
                    <p class="mt-1 text-base text-violet-300">
                        {description}
                    </p>

                    <div>
                        <a
                            href="/"
                            class="inline-flex items-center rounded-full border border-transparent bg-violet-600 px-4 py-2 text-sm font-medium text-white shadow-xs hover:bg-violet-700 focus:outline-hidden focus:ring-2 focus:ring-violet-500 focus:ring-offset-2"
                            >Go back home</a
                        >
                    </div>
                </div>
            </main>
        </div>
    </div>
</Template>
