---
import Template from '../layouts/Layout.astro';
const name = "Grants"
const description = "Grants description"
---

<Template name="{ `${name}` }" description="{ `${description}` }">
	<h1>{ name }</h1>
    <p>{ description }</p>
</Template>
