---
import Template from "@layouts/Template.astro";
import Container from "@components/Container.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import HopeMapClient from "@components/HopeMapEmbedClient";

const breadcrumbs = [{ name: "Hope Map", path: "/hope-map" }];
---

<Template
    name="Hope Map"
    description="Discover social entrepreneurs making a difference across the UK"
>
    <Container>
        <Breadcrumbs breadcrumbs={breadcrumbs} />

        <!-- Hero -->
        <div class="py-12 lg:py-16">
            <h1
                class="text-3xl font-bold tracking-tight text-violet-100 sm:text-4xl lg:text-5xl font-ff"
            >
                Hope Map
            </h1>
            <p class="mt-4 max-w-2xl text-lg text-violet-300">
                Whether they’re combating the youth mental health crisis,
                boosting fitness and wellbeing in their local community, or
                providing vital services for marginalised groups and
                individuals, the social entrepreneurs we support create hope.
            </p>
            <p class="mt-4 max-w-2xl text-lg text-violet-300">
                Many draw on their own lived experience, helping them develop
                grounded, effective responses to challenges and drive real
                change.
            </p>
            <p class="mt-4 max-w-2xl text-lg text-violet-300">
                To celebrate this impact, we’re taking part in this week’s A
                Million Acts of Hope campaign, a nationwide movement designed to
                fight division by recognising the daily acts of kindness that
                take place across the UK. We’re encouraging all our social
                entrepreneurs to share how they change lives for the better,
                meet tough societal challenges and make hope happen. We’ve also
                created an interactive Map of Hope, spotlighting 10 incredible
                founders from across the country, whose work we support. Explore
                their stories by clicking on the map below.
            </p>
            <p class="mt-4 max-w-2xl text-lg text-violet-300">
                We’ve also created an interactive Map of Hope, spotlighting 10
                incredible founders from across the country, whose work we
                support. Explore their stories by clicking on the map below.
            </p>
        </div>

        <!-- Full-size Hope Map -->
        <div class="pb-16">
            <HopeMapClient client:load compact={false} />
        </div>
    </Container>
</Template>
