---
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
---

<Layout name="Movement for Change" desription="...">
  <Container>
    <div class="text-white">
      <h1 class="text-4xl font-semibold">Movement for change</h1>
      <p>Start date: 01/01/2022</p>
      <p>End date: 01/01/2025</p>
      <p>
        we want to improve the health and wellbeing of 135,000 marginalised
        older adults whilst reducing health inequalities across the UK.
      </p>
    </div>

    <div class="text-white flex flex-col gap-5">
      <div class="text-black bg-white p-7">
        <p>Starting up</p>
        <div>
          <h2>Eligibility</h2>
        </div>
        <a href="http://" target="_blank" rel="noopener noreferrer">Appy now</a>
      </div>

      <div class="text-black bg-white p-7">
        <p>Scaling up</p>
        <div>
          <h2>Eligibility</h2>
        </div>
        <a href="http://" target="_blank" rel="noopener noreferrer">Appy now</a>
      </div>
    </div>
  </Container>
</Layout>
