---
import Heading from "../layouts/Heading.astro";
const name = "Podcast";
const description = "Podcast description";
---

<Heading name={name} description={description}>
  <h1>{name}</h1>
  <p>{description}</p>
</Heading>
