---
import Blank from "../../../layouts/Blank.astro";
import Container from "../../../layouts/Container.astro";

const name = "Grants";
const description = "For Social Entrepreneurs";
---

<p>{name}</p>
<p>{description}</p>
