---
const { banner } = Astro.props;
---

<div
  class="inset-x-0 bottom-0 flex flex-col justify-between gap-x-8 gap-y-4 bg-violet-50 p-6 ring-1 ring-violet-900/10 md:flex-row md:items-center lg:px-8"
>
  <p class="max-w-4xl text-sm/6 text-violet-950">
    {banner.body}
    <a href={banner.link_url} class="font-semibold text-violet-600"
      >{banner.link_text}</a
    >.
  </p>
  <!-- <div class="flex flex-none items-center gap-x-5">
    <button
      type="button"
      class="rounded-md bg-violet-900 px-3 py-2 text-sm font-semibold text-violet-50 shadow-xs hover:bg-violet-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-900"
      >Accept all</button
    >
    <button type="button" class="text-sm/6 font-semibold text-violet-900"
      >Reject all</button
    >
  </div> -->
</div>
