---
const { application, url = false } = Astro.props;

let Element = "div";

if (url) {
  Element = "a";
}
---

<div class="col-span-3 flex flex-col gap-4">
  <div class="flex flex-col gap-3 px-5">
    <div class="flex flex-row gap-2 items-center">
      <p class="text-violet-300 uppercase text-xs tracking-tight">
        Your social venture
      </p>
    </div>
    <p class="text-violet-50 text-sm">
      <span
        class="bg-amber-600 bg-opacity-30 rounded-full px-3 py-1 -ml-3 shadow-md"
      >
        {application.social_venture}
      </span>
    </p>
  </div>
  <Element
    href={Element == "a" && `/awards/application-preview/${application.slug}`}
    class={`flex flex-col gap-1 justify-between rounded-md p-5 ${
      Element == "a" &&
      "transition border-white border border-opacity-20 shadow-md hover:shadow-xl hover:scale-105 hover:bg-white hover:border-opacity-50 hover:bg-opacity-5"
    }`}
  >
    <div class="flex flex-row items-center gap-2">
      <p class="text-xs uppercase text-violet-300 tracking-tight">
        Grant up to
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-violet-100 text-3xl font-bold">
        {
          new Intl.NumberFormat("en-GB", {
            maximumSignificantDigits: 3,
            style: "currency",
            currency: "GBP",
          }).format(application.grant_amount)
        }
      </p>
      <div>
        <div class="flex flex-row gap-2 items-center">
          <i
            class={`text-violet-300 opacity-50 h-5 w-5 ${
              application.social_venture_costs
                ? "fa-solid fa-check"
                : "fa-solid fa-xmark"
            }`}></i>
          <p class="text-sm text-violet-300">For social venture costs</p>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <i
            class={`text-violet-300 opacity-50 h-5 w-5 ${
              application.social_entrepreneur_salary
                ? "fa-solid fa-check  text-violet-300 opacity-50 w-5"
                : "fa-solid fa-xmark  text-violet-300 opacity-50 w-5"
            }`}></i>
          <p class="text-sm text-violet-300">For social entrepreneur salary</p>
        </div>
      </div>
    </div>
  </Element>
</div>
