---
import NavDesktop from "../components/nav/desktop/Desktop.astro";
// import NavMobile from "../components/nav/Mobile.astro";
---

<nav class="print:hidden">
  <NavDesktop />
  <!-- <NavMobile></NavMobile> -->
</nav>
