---

import NavDesktop from "../components/nav/desktop/Desktop.astro";
// import NavMobile from "../components/nav/Mobile.astro";
---
<nav>
<NavDesktop></NavDesktop>
<!-- <NavMobile></NavMobile> -->
</nav>