---
import NavDesktop from "./nav/Desktop.astro";
// import NavDesktop from "./nav/old/OldDesktop.astro";
// import NavMobile from "./nav/old/OldMobile.astro";
---

<nav class="print:hidden">
  <NavDesktop />
  <!-- <NavMobile /> -->
</nav>
