---
const {
  name,
  description,
  primaryButton,
  secondaryButton,
  updated,
  reviewed,
  image,
} = Astro.props;

import moment from "moment";
---

<div class="max-w-4xl flex flex-col gap-3 mb-16">
  {
    updated && (
      <div class="flex flex-col gap-5 justify-between">
        <p class="text-violet-800 dark:text-violet-200 text-sm">
          Updated: {moment(updated).format("dddd hh:mma, MMMM Do YYYY")}
        </p>
      </div>
    )
  }
  <div class="flex flex-col gap-3">
    <h2
      class="text-4xl font-bold tracking-tight text-violet-800 dark:text-violet-200 sm:text-4xl lg:text-5xl"
    >
      {name}
    </h2>
    <p class="text-2xl text-violet-600 dark:text-violet-400">
      {description}
    </p>
    <img
      class="aspect-video rounded-xl bg-gray-50 object-cover"
      src={`https://unltd.directus.app/assets/${image}`}
      alt=""
    />
  </div>
</div>
