<div class="relative isolate overflow-hidden pt-14">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
            <h1
                class="text-4xl font-bold tracking-tight text-violet-100 sm:text-6xl"
            >
                You are unstoppable
            </h1>
            <p class="mt-6 text-lg leading-8 text-violet-300">
                More people than ever are stepping up to tackle the world’s
                problems. Could you be one of them?
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a
                    href="/awards"
                    class="rounded-full bg-orange-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-400"
                    >Go to Awards</a
                >
                <a
                    href="/our-purpose"
                    class="text-sm font-semibold leading-6 text-white"
                    >Our purpose <span aria-hidden="true">→</span></a
                >
            </div>
        </div>
    </div>
    <div class="bg-gray-900 opacity-50 blur-sm h-full">
        <img
            src="/img/home.webp"
            class="absolute h-full w-full object-cover object-right opacity-30"
            alt="Tailwind Play"
        />
    </div>
</div>
