<div class="bg-white py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
            <h2
                class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
                Our mission
            </h2>
            <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
                <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
                    <p class="text-xl leading-8 text-gray-600">
                        We are UnLtd. We know social entrepreneurs offer some of
                        the best solutions to loneliness, community resilience
                        and our nation’s long term economic, social and cultural
                        health.
                    </p>
                    <p class="mt-10 max-w-xl text-base leading-7 text-gray-700">
                        We are committed to 50% of our Awards going to Black,
                        Asian and minority ethnic social entrepreneurs, and/or
                        disabled social entrepreneurs across our funding
                        programmes.
                    </p>
                </div>
                <div class="lg:flex lg:flex-auto lg:justify-center">
                    <dl class="w-64 space-y-8 xl:w-80">
                        <div class="flex flex-col-reverse gap-y-4">
                            <dt class="text-base leading-7 text-gray-600">
                                Last year we backed 253 social entrepreneurs to
                                develop their ideas and start up.
                            </dt>
                            <dd
                                class="text-5xl font-semibold tracking-tight text-gray-900"
                            >
                                253 Social Entrepreneurs
                            </dd>
                        </div>
                        <div class="flex flex-col-reverse gap-y-4">
                            <dt class="text-base leading-7 text-gray-600">
                                Through every entrepreneur we supported, 832
                                people’s lives were positively impacted.
                            </dt>
                            <dd
                                class="text-5xl font-semibold tracking-tight text-gray-900"
                            >
                                832 lives impacted
                            </dd>
                        </div>
                        <div class="flex flex-col-reverse gap-y-4">
                            <dt class="text-base leading-7 text-gray-600">
                                78% Of social entrepreneurs feel valued and
                                understood for the change they create.
                            </dt>
                            <dd
                                class="text-5xl font-semibold tracking-tight text-gray-900"
                            >
                                78%
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
