---
import NavDesktop from "../components/nav/Desktop.astro";
import NavMobile from "../components/nav/Mobile.astro";
---

<nav class="print:hidden bg-violet-900">
  <NavDesktop />
  <NavMobile />
</nav>
