---
import NavDesktop from "../components/nav/desktop/Desktop.astro";
import NavMobile from "../components/nav/mobile/Mobile.astro";
---

<nav class="print:hidden">
  <NavDesktop />
  <!-- <NavMobile /> -->
</nav>
