---
import { rounds } from "@data/rounds.js";
import moment from "moment";
import slugify from "slugify";
---

<table>
    <thead>
        <tr>
            <th
                scope="col"
                class="py-3.5 pl-4 pr-3 text-left text-xs font-semibold text-violet-300 sm:pl-0"
                >Name</th
            >
            <th
                scope="col"
                class="px-3 py-3.5 text-left text-xs font-semibold text-violet-300"
                >Application open</th
            >
            <th
                scope="col"
                class="px-3 py-3.5 text-left text-xs font-semibold text-violet-300"
                >Application closed</th
            >
            <th
                scope="col"
                class="px-3 py-3.5 text-left text-xs font-semibold text-violet-300"
                >Assessment start</th
            >
            <th
                scope="col"
                class="px-3 py-3.5 text-left text-xs font-semibold text-violet-300"
                >Assessment stop</th
            >
            <th
                scope="col"
                class="px-3 py-3.5 text-left text-xs font-semibold text-violet-300"
                >Results start</th
            >
            <th
                scope="col"
                class="px-3 py-3.5 text-left text-xs font-semibold text-violet-300"
                >Results stop</th
            >
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
            </th>
        </tr>
    </thead>
    <tbody class="divide-y divide-violet-200">
        {
            rounds
                .filter(
                    (round) => new Date(round.applications_end) >= new Date(),
                )
                .map((round) => (
                    <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-xs font-medium text-violet-100 sm:pl-0">
                            {round.name}
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-xs text-violet-300">
                            {moment(round.applications_start).format(
                                "ddd hh:mm, DD MMM YYYY",
                            )}
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-xs text-violet-300">
                            {moment(round.applications_end).format(
                                "ddd hh:mm, DD MMM YYYY",
                            )}
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-xs text-violet-300">
                            {moment(round.assessments_start).format(
                                "ddd hh:mm, DD MMM YYYY",
                            )}
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-xs text-violet-300">
                            {moment(round.assessemets_end).format(
                                "ddd hh:mm, DD MMM YYYY",
                            )}
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-xs text-violet-300">
                            {moment(round.results_start).format(
                                "ddd hh:mm, DD MMM YYYY",
                            )}
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-xs text-violet-300">
                            {moment(round.results_end).format(
                                "ddd hh:mm, DD MMM YYYY",
                            )}
                        </td>
                        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-xs font-medium sm:pr-0">
                            {round.panels && round.panels.length > 0 && (
                                <a
                                    href={`/award/${slugify(round.name, {
                                        lower: true,
                                        strict: true,
                                        locale: "en",
                                        trim: true,
                                    })}`}
                                    class=""
                                >
                                    View assessment dates
                                    <span class="sr-only">, {round.name}</span>
                                </a>
                            )}
                        </td>
                    </tr>
                ))
        }
    </tbody>
</table>
