---
const { data } = Astro.props;
---

<div class="bg-violet-950 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
        >
            <h2
                class="text-3xl font-bold tracking-tight text-violet-100 sm:text-4xl"
            >
                Stay on top of customer support
            </h2>
            <dl
                class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2"
            >
                {
                    data.support.map((sup) => (
                        <div>
                            <dt class="text-base font-semibold leading-7 text-violet-200">
                                <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-violet-100">
                                    <i
                                        class={`text-lg text-violet-600 ${sup.icon}`}
                                    />
                                </div>
                                {sup.title}
                            </dt>
                            <dd class="mt-1 text-base leading-7 text-violet-200">
                                {sup.text}
                            </dd>
                        </div>
                    ))
                }
            </dl>
        </div>
    </div>
</div>
