---
import Award from "@components/awards/Award.astro";
import { awards } from "@data/awards";
---

<div class="relative mx-auto max-w-2xl lg:max-w-7xl">
    <div class="text-center mb-16">
        <h2
            class="text-3xl md:text-4xl font-bold text-violet-900 dark:text-violet-100 mb-4"
        >
            Our Awards
        </h2>
        <p
            class="text-lg text-violet-700 dark:text-violet-300 max-w-2xl mx-auto"
        >
            The right Award will help you to get started or grow, with a
            Starting Up Award for early-stage social entrepreneurs, or a Scaling
            Up Award for social entrepreneurs who are looking to grow their
            impact alongside their income. <br /><br />Depending on your age,
            sectors in which your social venture operates in and how long you
            venture has been trading, you will be assigned to one of our
            programmes. Our programmes are designed to provide specialised
            support that align with the needs of you and your social venture.
        </p>
    </div>

    <div class="grid grid-cols-1 gap-10 lg:grid-cols-4">
        {awards.map((award) => <Award {...award} />)}
    </div>
</div>
