---
import Award from "@components/awards/Award.astro";
const awards = [
    {
        code: "st-mat",
        name: "Starting Up Millennium Awards Trust Award",
        backgroundColour: "bg-slate-100",
        grant: 8000,
        programme: {
            icon: "fa-solid fa-universal-access",
            name: "Millennium Awards Trust",
            code: "mat",
            path: "/awards/millennium-awards-trust",
            colour: "amber",
            description:
                "Open to any social entrepreneur aged 16+ tackling a range of social issues.",
        },
        grantUsability: {
            "For social venture costs": true,
            "For social entrepreneur living costs": false,
        },
        programmeServices: [
            { name: "12 months of enrollment", icon: "fa-light fa-timer" },
            { name: "Support manager", icon: "fa-light fa-user-headset" },
            {
                name: "Upskill with your peers",
                icon: "fa-light fa-people-group",
            },
            { name: "Business mentoring", icon: "fa-light fa-handshake" },
            {
                name: "Legal advisor consultancy",
                icon: "fa-light fa-rectangle-pro",
            },
        ],
    },
    {
        code: "st-ffp",
        name: "Starting Up Funding Futures Programme Award",
        backgroundColour: "bg-slate-100",
        grant: 8000,
        programme: {
            icon: "fa-solid fa-rocket",
            name: "Funding Futures Programme",
            code: "ffp",
            path: "/awards/funding-futures-programme",
            colour: "purple",
            description:
                "Supports 16-30 year olds with great ideas for solutions to help those sidelined by the financial system.",
        },
        grantUsability: {
            "For social venture costs": true,
            "For social entrepreneur living costs": false,
        },
        programmeServices: [
            { name: "12 months of enrollment", icon: "fa-light fa-timer" },
            { name: "Support manager", icon: "fa-light fa-user-headset" },
            {
                name: "Upskill with your peers",
                icon: "fa-light fa-people-group",
            },
            { name: "Business mentoring", icon: "fa-light fa-handshake" },
            {
                name: "Legal advisor consultancy",
                icon: "fa-light fa-rectangle-pro",
            },
            {
                name: "Peer-to-peer learning",
                icon: "fa-light fa-rectangle-pro",
            },
        ],
    },
    {
        code: "sc-mat",
        name: "Scaling Up Millennium Awards Trust Award",
        backgroundColour: "bg-slate-900",
        grant: 18000,
        programme: {
            icon: "fa-solid fa-universal-access",
            name: "Millennium Awards Trust",
            code: "mat",
            path: "/awards/millennium-awards-trust",
            colour: "amber",
            description:
                "Open to any social entrepreneur aged 16+ tackling a range of social issues.",
        },
        grantUsability: {
            "For social venture costs": true,
            "For social entrepreneur living costs": true,
        },
        programmeServices: [
            { name: "12 months of enrollment", icon: "fa-light fa-timer" },
            { name: "Support manager", icon: "fa-light fa-user-headset" },
            {
                name: "Upskill with your peers",
                icon: "fa-light fa-people-group",
            },
            { name: "Business mentoring", icon: "fa-light fa-handshake" },
            {
                name: "Legal advisor consultancy",
                icon: "fa-light fa-rectangle-pro",
            },
        ],
    },
    {
        code: "sc-ffp",
        name: "Scaling Up Funding Futures Programme Award",
        backgroundColour: "bg-slate-900",
        grant: 18000,
        programme: {
            icon: "fa-solid fa-rocket",
            name: "Funding Futures Programme",
            code: "ffp",
            path: "/awards/funding-futures-programme",
            colour: "purple",
            description:
                "Supports 16-30 year olds with great ideas for solutions to help those sidelined by the financial system.",
        },
        grantUsability: {
            "For social venture costs": true,
            "For social entrepreneur living costs": true,
        },
        programmeServices: [
            { name: "12 months of enrollment", icon: "fa-light fa-timer" },
            { name: "Support manager", icon: "fa-light fa-user-headset" },
            {
                name: "Upskill with your peers",
                icon: "fa-light fa-people-group",
            },
            { name: "Business mentoring", icon: "fa-light fa-handshake" },
            {
                name: "Legal advisor consultancy",
                icon: "fa-light fa-rectangle-pro",
            },
            {
                name: "Peer-to-peer learning",
                icon: "fa-light fa-people-group",
            },
        ],
    },
];
---

<!-- Include this script tag or install `@tailwindplus/elements` via npm: --><!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script> -->
<div id="awards" class="bg-white dark:bg-violet-950">
    <div class="relative py-18">
        <div
            class="absolute inset-x-0 top-48 bottom-0 bg-[radial-gradient(circle_at_center_center,#7775D6,#592E71,#030712_70%)] lg:bg-[radial-gradient(circle_at_center_150%,#7775D6,#592E71,#030712_70%)] dark:bg-[radial-gradient(circle_at_center_center,#7775D680,#592E7180,transparent_70%)] dark:lg:bg-[radial-gradient(circle_at_center_150%,#7775D680,#592E7180,transparent_70%)]"
        >
        </div>

        <div class="relative mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
            <div class="max-w-4xl pb-10">
                <h2
                    id="programmes"
                    class="mt-2 text-4xl font-bold tracking-tight text-violet-900 dark:text-violet-100 sm:text-5xl"
                >
                    Our Awards
                </h2>
                <p
                    class="mt-6 max-w-2xl text-lg leading-8 text-violet-800 dark:text-violet-300"
                >
                    The right Award will help you to get started or grow, with a
                    Starting Up Award for early-stage social entrepreneurs, or a
                    Scaling Up Award for social entrepreneurs who are looking to
                    grow their impact alongside their income. <br /><br
                    />Depending on your age, sectors in which your social
                    venture operates in and how long you venture has been
                    trading, you will be assigned to one of our programmes. Our
                    programmes are designed to provide specialised support that
                    align with the needs of you and your social venture.
                </p>
            </div>
            <div class="grid grid-cols-1 gap-10 lg:grid-cols-4">
                {awards.map((award) => <Award {...award} />)}
            </div>
            <div
                class="flex justify-between py-16 opacity-60 max-sm:mx-auto max-sm:max-w-md max-sm:flex-wrap max-sm:justify-evenly max-sm:gap-x-4 max-sm:gap-y-4 sm:py-6"
            >
            </div>
        </div>
    </div>
</div>
