---
import Icon from "@components/Icon.astro";
import Faq from "@components/Faq.astro";
import { faq } from "@data/faq.js";
---

<div class="mx-auto max-w-4xl">
  <h2
    class="text-4xl font-semibold tracking-tight text-violet-950 sm:text-5xl dark:text-white"
  >
    Frequently asked questions
  </h2>
  <dl
    class="mt-10 space-y-6 divide-y divide-violet-900/10 dark:divide-white/10"
  >
    {
      faq.map((item, i) => (
        <Faq question={item.question} answer={item.answer} i={i} />
      ))
    }
  </dl>

  <div
    class="mt-10 flex items-center gap-x-6 rounded-2xl bg-violet-50 p-6 dark:bg-violet-900/50"
  >
    <div
      class="flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-violet-100 dark:bg-violet-900/50"
    >
      <Icon
        name="messages"
        style="solid"
        class="h-5 w-5 text-violet-600 dark:text-violet-400"
      />
    </div>
    <div>
      <p class="text-sm font-medium text-violet-900 dark:text-violet-100">
        Can't find what you're looking for?
      </p>
      <a
        href="/contact/awards"
        class="group mt-1 inline-flex items-center text-sm font-semibold text-violet-600 hover:text-violet-500 dark:text-violet-400 dark:hover:text-violet-300"
      >
        Make an Award enquiry
        <Icon
          name="arrow-right"
          style="solid"
          class="ml-2 h-3 w-3 transition-transform group-hover:translate-x-1"
        />
      </a>
    </div>
  </div>
</div>
