---
import Container from "@components/Container.astro";
import YoutubeConsent from "@components/YoutubeConsent.astro";
---

<Container bg="bg-violet-50 dark:bg-violet-950">
  <div class="max-w-2xl mx-0 pt-10">
    <p
      class="text-base font-semibold leading-7 text-amber-500 dark:text-amber-500"
    >
      For social entrepreneurs
    </p>
    <h2 class="text-5xl font-bold tracking-tight text-white sm:text-7xl">
      Awards
    </h2>
    <p class="mt-6 text-lg leading-8 text-violet-300">
      You have an idea, or you are already creating a positive social impact
      with your venture and are looking to develop. We combine funding and
      support specifically tailored to you. We'll help get you started or to
      grow.
    </p>
  </div>
  <div class="mt-10 max-w-2xl mx-0 lg:max-w-none">
    <div
      class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10"
    >
      <!-- <a href="#our-awards">Our Awards <span aria-hidden="true">&rarr;</span></a
      >
      <a href="#eligibility-checker"
        >Eligibility checker <span aria-hidden="true">&rarr;</span></a
      >
      <a href="#sessions">Sessions <span aria-hidden="true">&rarr;</span></a> -->

      <a
        href="#eligibility-checker"
        type="button"
        class="rounded-full dark:text-orange-950 px-4 py-2.5 text-sm font-semibold shadow-xs hover:bg-amber-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600 dark:bg-amber-600 dark:shadow-none dark:hover:bg-amber-500 dark:focus-visible:outline-amber-500"
      >
        Take the Eligibility Checker
        <i class="fa-solid fa-arrow-down text-amber-800" aria-hidden="true"></i>
      </a>

      <a href="#awards">Awards <span aria-hidden="true">&rarr;</span></a>
      <a href="#programmes">Programmes <span aria-hidden="true">&rarr;</span></a
      >
      <a href="#eligibility-criteria"
        >Eligibility criteria <span aria-hidden="true">&rarr;</span></a
      >
      <a href="#faq"
        >Frequently Asked Questions <span aria-hidden="true">&rarr;</span></a
      >
    </div>
  </div>

  <div class="pb-20 pt-10 flex flex-col gap-4 items-center">
    <div class="flex flex-col gap-10 lg:flex-row items-center">
      <!-- <div class="mt-6 grow-0 lg:grow basis-3/4 max-w-3/4">
        <div class="aspect-video">
          <iframe
            class="w-full h-full rounded-xl"
            shadow-xl
            mb-3"
            src="https://www.youtube-nocookie.com/embed/leYUo0Wy5SE?si=KH0xrqM98xB3x9jm"
            title="Award"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
        <a
          class="text-xs text-violet-100 hover:text-violet-50 font-bold underline underline-offset-4 decoration-amber-500 decoration-1 hover:decoration-2"
          href="https://youtu.be/PyOstfZW3CI"
          target="_blank">British Sign Language (BSL) version available</a
        >
      </div> -->
      <div class="w-full">
        <h2
          id="definitions"
          class="text-base font-semibold leading-7 text-amber-500 dark:text-amber-500"
        >
          Definitions
        </h2>
        <dl class="mt-4 grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-4">
          <div class="space-y-2">
            <dt class="text-sm font-semibold text-violet-200">
              Social entrepreneur
            </dt>
            <dd class="text-sm leading-7 text-violet-300">
              is a person who has started, or is looking to start a social
              venture, someone who is driven by their passion to make a
              difference.
            </dd>
          </div>
          <div class="space-y-2">
            <dt class="text-sm font-semibold text-violet-200">
              Social venture
            </dt>
            <dd class="text-sm leading-7 text-violet-300">
              is a business which has a social mission at its heart, often
              described as a <span class="italic"
                >profit for purpose business</span
              >. It is essential to have a financially sustainable business
              model to continue making a difference.
            </dd>
          </div>
          <div class="space-y-2">
            <dt class="text-sm font-semibold text-violet-200">Grant</dt>
            <dd class="text-sm leading-7 text-violet-300">
              is a sum of money awarded to help you grow your venture without
              needing to be repaid, provided you meet the agreed objectives.
            </dd>
          </div>
          <div class="space-y-2">
            <dt class="text-sm font-semibold text-violet-200">Programme</dt>
            <dd class="text-sm leading-7 text-violet-300">
              is a structured package of support combining, workshops,
              mentoring, and resources to help you develop you and your social
              venture grow.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</Container>
