---
import Container from "@components/Container.astro";
---

<Container bg="bg-violet-50 dark:bg-violet-950">
  <div class="max-w-2xl mx-0 pt-10">
    <p
      class="text-base font-semibold leading-7 text-amber-500 dark:text-amber-500"
    >
      For social entrepreneurs
    </p>
    <h2 class="text-5xl font-bold tracking-tight text-white sm:text-7xl">
      Awards
    </h2>
    <p class="mt-6 text-lg leading-8 text-violet-300">
      You have an idea or are already making a difference and are looking for
      support to develop your social venture. We combine funding and support to
      help you get started or grow.
    </p>
  </div>
  <div class="mt-10 max-w-2xl mx-0 lg:max-w-none">
    <div
      class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10"
    >
      <a href="#programmes">Programmes <span aria-hidden="true">&rarr;</span></a>
      <a href="#apply">Apply <span aria-hidden="true">&rarr;</span></a>
      <a href="#faq">FAQ <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>

  <div class="pb-20 pt-10 flex flex-col gap-4 items-center">
    <div class="flex flex-col gap-10 lg:flex-row items-center">
      <div class="mt-6 flex-grow-0 lg:flex-grow basis-3/4 max-w-3/4">
        <div class="aspect-video">
          <iframe
            class="w-full h-full rounded-xl"
            shadow-xl
            mb-3"
            src="https://www.youtube-nocookie.com/embed/leYUo0Wy5SE?si=KH0xrqM98xB3x9jm"
            title="Awards"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
        <a
          class="text-xs text-violet-100 hover:text-violet-50 font-bold underline underline-offset-4 decoration-amber-500 decoration-1 hover:decoration-2"
          href="https://youtu.be/PyOstfZW3CI"
          target="_blank">British Sign Language (BSL) version available</a
        >
      </div>
      <div class="flex flex-col gap-4 basis-1/4">
        <h2
          id="definitions"
          class="text-base font-semibold leading-7 text-amber-500 dark:text-amber-500"
        >
          Definitions
        </h2>
        <div class="flex flex-col gap-6">
          <div class="">
            <dt class="inline font-semibold text-violet-200">
              Social entrepreneur
            </dt>
            <dd class="inline text-sm leading-7 text-violet-300">
              is a person who has started, or is looking to start a social
              venture, someone who is driven by their passion to make a
              difference.
            </dd>
          </div>
          <div class="">
            <dt class="inline font-semibold text-violet-200">Social venture</dt>
            <dd class="inline text-sm leading-7 text-violet-300">
              is a business which has a social mission at its heart, often
              described as a <span class="italic"
                >profit for purpose business</span
              >. It is essential to have a financially sustainable business
              model to continue making a difference.
            </dd>
          </div>
        </div>
      </div>
    </div>
  </div>
</Container>
