---
import Faq from "@components/Faq.astro";
import Container from "@components/Container.astro";

import { faq } from "@data/faq.js";
---

<Container>
    <div class="py-20 flex flex-col gap-5">
        <div>
            <h2
                id="faq"
                class="mt-2 text-4xl font-bold tracking-tight text-violet-950 dark:text-violet-100 sm:text-5xl"
            >
                Frequently asked questions
            </h2>
        </div>
        <div
            class="max-w-4xl divide-y divide-violet-900/10 dark:divide-violet-900/10"
        >
            <dl class="mt-10 space-y-6 divide-y divide-violet-900/10">
                {
                    faq.map((item, i) => (
                        <Faq
                            question={item.question}
                            answer={item.answer}
                            i={i}
                        />
                    ))
                }
            </dl>
        </div>
        <p
            class="mt-6 max-w-3xl text-sm leading-8 text-violet-800 dark:text-violet-200"
        >
            If you don't find an answer to your question, you can make an <a
                class="hover:text-violet-50 font-bold underline underline-offset-4 decoration-amber-500 decoration-1 hover:decoration-2"
                href="/contact/awards">Award enquiry</a
            >.
        </p>
    </div>
</Container>
