---
import { resources } from "@data/resources.js";
import slugify from "slugify";

let groups: { name: string; slug: string }[] = [];

resources.map((resource) => {
    resource.groups.map((group) => {
        if (!groups.some((g) => g.name === group)) {
            groups.push({
                name: group,
                slug: slugify(group, {
                    lower: true,
                    strict: true,
                    locale: "en",
                    trim: true,
                }),
            });
        }
    });
});
---

<div>
    <section>
        <h2 class="text-xl font-bold">Resources</h2>

        <ul class="list-disc pl-4">
            {
                groups.map((item) => (
                    <li>
                        <a href={`/resources2/${item.slug}`}>{item.name}</a>
                    </li>
                ))
            }
        </ul>
    </section>
</div>
