---
import Grant from "../../components/GrantOld.astro";
const { application } = Astro.props;
import AButton from "../AButton.astro";

const url = "http://127.0.0.1:8090";
---

<aside class="flex flex-col gap-5">
  <div>
    {
      application.sections.map((section, index) => (
        <a
          href={`#${section.slug}`}
          class={`hover:text-violet-200 active:text-violet-800 active:bg-violet-800 hover:bg-violet-800 rounded-md flex items-center text-xs font-medium transition py-3 flex-row gap-2 group`}
        >
          <span class="text-violet-300 border-full h-5 w-5 bg-white bg-opacity-10 flex justify-center items-center rounded-full group-hover:scale-125 group-hover:bg-transparent">
            {index + 1}
          </span>
          <span class="text-white truncate active:text-white">
            {section.name}
          </span>
        </a>
      ))
    }
  </div>
</aside>
