---
const { application } = Astro.props;
import AButton from "../AButton.astro";
import Pop from "../Pop.astro";
---

<div
  class="col-span-12 lg:col-span-3 lg:auto-cols-fr lg:self-start lg:sticky lg:top-10 flex-none flex flex-col gap-10"
>
  {
    application.xlsx && (
      <Pop
        section="Question guidance"
        name="File uploads"
        description="Section 6. Question 14"
        icon="fa-solid fa-list"
        buttonName="Go to question guidance"
        buttonIcon="arrow-right"
        buttonLink="/awards/application-preview/social-venture-established-between-1-to-4-years/s6/q14"
      >
        <ul class="list-disc flex flex-col gap-2 text-sm text-violet-300">
          <li>We need you to show us how you are currently earning income.</li>
          <li>
            We need to know how your social venture is, or has the potential to
            become, financially sustainable.
          </li>
          <li>
            We need to see that you have financial growth plans that will enable
            you to scale your social impact.
          </li>
          <li>
            We need you to show us how you will be able to meet your costs as
            your social venture develops.
          </li>
          <li>
            if you are not yet profitable, or rely on grant or charitable
            funding for a large part of your income, we need to see how you'll
            develop your business model to become reliant on traded income.
          </li>
        </ul>
      </Pop>
    )
  }

  <Pop
    section="Help"
    icon="fa-regular fa-circle-question"
    buttonName="Contact Us"
    buttonIcon="fa-regular fa-arrow-right"
    buttonLink="/contact-us"
  >
    <p>
      We can assist with making an application, such as working through the
      application with a colleague.
    </p>
  </Pop>
</div>
