---
const { application } = Astro.props;
import Pop from "../Pop.astro";
---

<div
  class="col-span-12 lg:col-span-3 lg:auto-cols-fr lg:self-start lg:sticky lg:top-10 flex-none flex flex-col gap-10"
>
  {
    application.pdf && (
      <Pop
        name="Downloads"
        icon="fa-solid fa-download"
        description=""
        buttons={[
          {
            name: "Download PDF",
            url: `http://127.0.0.1:8090/api/files/applications/${application.id}/${application.pdf}`,
            path: "",
            description: "",
            icon: {
              position: 0,
              name: "fa-regular fa-arrow-down",
            },
          },
          {
            name: "Download DOCX",
            url: `http://127.0.0.1:8090/api/files/applications/${application.id}/${application.docx}`,
            path: "",
            description: "Recommended for Microsoft Word",
            icon: {
              position: 0,
              name: "fa-regular fa-arrow-down",
            },
          },
        ]}
      />
    )
  }

  {
    application.xlsx && (
      <Pop
        name="Guidance"
        icon="fa-solid fa-list"
        description=""
        buttons={[
          {
            name: "File uploads",
            description: "Section 6. Question 14",
            url: "",
            path: "/awards/application-preview/social-venture-established-between-1-to-4-years/s6/q14",
            icon: {
              position: 1,
              name: "arrow-right",
            },
          },
        ]}
      />
    )
  }

  <Pop
    name="Help"
    icon="fa-regular fa-circle-question"
    description="We can assist with making an application, such as working through the application with a colleague."
    buttons={[
      {
        name: "Contact us",
        url: "",
        path: "/contact-us",
        description: "",
        icon: {
          position: 1,
          name: "fa-regular fa-arrow-right",
        },
      },
    ]}
  />
</div>
