---
import Template from "../../layouts/Heading.astro";
const name = "Awards";
const description = "Grants description";
---

<Template name={name} description={description}>
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 flex flex-col gap-2">
    <a href="/awards/applications-preview" class="text-white hover:underline"
      >Applications preview</a
    >
  </div>
</Template>
