---
import HeaderAstro from "../../layouts/HeaderAstro.astro";
const name = "Awards";
const description = "Grants description";
const breadcrumbs = [
  {
    name: name,
    slug: Astro.url.pathname,
  },
];
---

<HeaderAstro name={name} description={description} breadcrumbs={breadcrumbs}>
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 flex flex-col gap-2">
    <a href="/awards/application-templates" class="text-white hover:underline"
      >Application templates</a
    >
  </div>
</HeaderAstro>
