---
import Blank from "../../layouts/Blank.astro";
import Container from "../../layouts/Container.astro";
import { pb_funds } from "../../data/funds.js";
import Layout from "../../layouts/Layout.astro";
// const name = "Page not found";
// const description = "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia dolores corrupti labore tempora, rem quidem maximead asperiores eveniet maiores nobis assumenda facilis quisquam fugiat accusamus nulla similique tenetur hic?";

export function getStaticPaths() {
  let gdg = [];
  pb_funds.map((fund) => {
    gdg.push({ params: { fund: fund.slug }, props: { name: fund.name } });
  });

  return gdg;
}

const breadcrumbs = [
  {
    name: "",
    slug: Astro.url.pathname,
  },
];

const { name } = Astro.props;
---

<Blank name={name} description="" breadcrumbs={breadcrumbs}>
  <Container>
    <p>{name}</p>
  </Container>
</Blank>
