---
import Layout from "../layouts/Layout.astro";
const { name, description } = Astro.props;
---

<Layout name={name} description={description}>
  <div class="">
    <div
      class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:flex lg:justify-between lg:px-8"
    >
      <div class="max-w-4xl">
        <h2
          class="text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl"
        >
          {name}
        </h2>
        <p class="mt-5 text-xl text-violet-300">
          {description}
        </p>
      </div>
    </div>
  </div>
  <slot />
</Layout>
