---
const { name, description } = Astro.props.frontmatter || Astro.props;
import Header from "../components/ui/Header.jsx";
import Footer from "../components/Footer.astro";

// import Nav from "../components/old-nav/Nav.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth h-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico" />

    <script
      defer
      data-domain="unltd.org.uk"
      src="https://plausible.io/js/script.js"></script>

    <!-- Primary Meta Tags -->
    <title>{`${name} | UnLtd`}</title>
    <meta
      name="title"
      content={name ? `${name} | UnLtd` : `No page description | UnLtd`}
    />
    <meta
      name="description"
      content={description ? description : "No page description"}
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta
      property="og:title"
      content={name ? `${name} | UnLtd` : `No page description | UnLtd`}
    />
    <meta
      property="og:description"
      content={description ? description : "No page description"}
    />
    <meta property="og:image" content="" />

    <!-- Twitter -->
    <meta property="twitter:card" content="" />
    <meta property="twitter:url" content="" />
    <meta
      property="twitter:title"
      content={name ? `${name} | UnLtd` : `No page description | UnLtd`}
    />
    <meta
      property="twitter:description"
      content={description ? description : "No page description"}
    />
    <meta property="twitter:image" content="" />

    <!-- Fontawesome Icons -->
    <script
      src="https://kit.fontawesome.com/0ff725f684.js"
      crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-slate-50 dark:bg-slate-950">
    <div class="flex flex-col justify-between h-full">
      <Header client:load />
      <!-- <Nav /> -->
      <div class="mb-10">
        <!-- <div class="p-10 bg-slate-50 flex flex-col gap-3">
          <h1 class="font-bold text-2xl text-slate-800">This is a header</h1>
          <div class="prose prose-slate">
            <p>Blah blah blah</p>
            <ul class="">
              <li>One</li>
              <li>Two</li>
              <li>Three</li>
            </ul>
          </div>

          <div>
            <span
              class="inline-flex items-center rounded-full bg-amber-50 px-2 py-1 text-xs font-medium text-amber-700 ring-1 ring-inset ring-amber-600/10"
            >
              Keep the conversation going
            </span>
          </div>

          <a
            href="https://unltd.org.uk"
            class="text-slate-800 font-bold underline underline-offset-4 decoration-amber-500 decoration-1 hover:decoration-2"
            >unltd.org.uk</a
          >
        </div>
        <div class="p-10 bg-slate-950 flex flex-col gap-3">
          <h1 class="font-bold text-2xl text-slate-200">This is a header</h1>
          <div class="prose prose-slate prose-invert">
            <p>Blah blah blah</p>
            <ul class="">
              <li>One</li>
              <li>Two</li>
              <li>Three</li>
            </ul>
          </div>

          <div>
            <span
              class="inline-flex items-center rounded-full bg-amber-400/10 px-2 py-1 text-xs font-medium text-amber-400 ring-1 ring-inset ring-amber-400/20"
            >
              Keep the conversation going
            </span>
          </div>

          <a
            href="https://unltd.org.uk"
            class="dark:text-slate-200 font-bold underline underline-offset-4 decoration-amber-500 decoration-1 hover:decoration-2"
            >unltd.org.uk</a
          >
        </div> -->
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
