---
import Icon from "@components/Icon.astro";
const { name } = Astro.props;
---

<div class="pt-6" x-data="{ open: false }">
  <dt>
    <!-- Expand/collapse question button -->
    <button
      x-on:click="open = ! open"
      type="button"
      class="flex w-full items-start justify-between text-left text-violet-600 dark:text-violet-400"
      aria-controls="faq-0"
      aria-expanded="false"
    >
      <span
        class="text-xl font-semibold leading-7 text-violet-600 dark:text-violet-400"
        >{name}</span
      >
      <span class="ml-6 flex h-7 items-center">
        <Icon name="chevron-down" style="solid" x-show="!open" />
        <Icon name="chevron-up" style="solid" x-show="open" />
      </span>
    </button>
  </dt>
  <dd
    class="mt-2 pr-12 text-base leading-7 text-violet-600 dark:text-violet-400"
    id="faq-0"
    x-show="open"
    x-transition
  >
    <slot />
  </dd>
</div>
